<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hello {{logged_user.first_name}}! Let's edit your playdate!</h1>
        </div>
        <div class="wrapper container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            <form action='/playdates/edit/{{edit_playdate.id}}' method=POST>
                <div class="form-group">
                {% csrf_token %}
                    <label for="InputPark1">Park Name:</label>
                    <input type="text" class="form-control" id="InputPark1" name='park_name' aria-describedby="parkHelp" value='{{edit_playdate.park_name}}'>
                </div>
                <div class="form-group">
                    <label for="Inputaddress">Address:</label>
                    <input type="address" class="form-control" id="InputAddress" name='park_address' value='{{edit_playdate.park_address}}'>
                </div>
                <div class="form-group">
                    <label for="InputDate">Date:</label>
                    <input type="date" class="form-control" id="InputDate" name='date' value='{{edit_playdate.date}}'>
                </div>
                <div class="form-group">
                    <label for="InputTime">Time:</label>
                    <input type="time" class="form-control" id='InputTime' name='time' value='{{edit_playdate.time}}'>
                </div>
                <div class="form-group">
                    <label for="Inputcomment">Comment:</label>
                    <input type="text" class="form-control" id='InputComment' name='comments' value='{{edit_playdate.comments}}'>
                </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
                <td scope="col"><a href="/dashboard" class="btn btn-primary" role="button" aria-pressed="true">Cancel</a></td>
            </form>
        </div>    
    </div>

{% endblock %}
</body>
</html>