<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron text-center jumbotron-fluid">
    <div class="wrapper container">
        <form action="/users/create_dog" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
            <ul class="list-unstyled lead">
                {% for message in messages %}
                <li class="text-light bg-danger text-center">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <h1 class="display-4 py-2">Register Your Dog</h1>
            <div class="col-md-11 form-group row">
                <label for="" class="col-sm-2 col-form-label">Dog's Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name='dog_name'>
                </div>
            </div>
            <div class="col-md-11 form-group row">
                <label for="" class="col-sm-2 col-form-label">Breed:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name='breed'>
                </div>
            </div>
            <div class="col-md-11 form-group row">
                <label class="col-sm-2 col-form-label" for="inlineFormCustomSelect">Gender:</label>
                <div class="col-sm-10">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="gender">
                        <option value='' selected>Choose...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 form-group row">
                <label class="col-sm-2 col-form-label" for="">Add Photo:</label>
                <input type="file" name="image">
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success mr-2">Register</button>
                    <button class="btn btn-primary"><a class="text-white" href="/users/profile">Cancel</a></button>
                </div>
            </div>
        </form>
        
    </div>
</div>
    
{% endblock content %}
</body>
</html>