<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Register Your Dog:</h1>
    </div>
    <div class="wrapper container">
        <form action="/users/create_dog" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {% if messages %}
            <ul class="messages text-danger">    
                {% for message in messages %}    
                    <li>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            <div class="form-group">
                <label for="">Dog's Name:</label>
                <input type="text" class="form-control" name='dog_name'>
            </div>
            <div class="form-group">
                <label for="">Breed:</label>
                <input type="text" class="form-control" name='breed'>
            </div>
            <div class="form-group">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Gender:</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="gender">
                    <option value='' selected>Choose...</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="my-5">
                <input type="file" name="image">
            </div>
            <div class="form-group row">
                <div class="col-sm-7">
                    <button type="submit" class="btn btn-success float-right">Register</button>
                </div>
            </div>
        </form>
        
    </div>
</div>
    
{% endblock content %}
</body>
</html>