<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your Profile</h1>
    </div>
    <div class="wrapper container">
        <div class="row mt-5">
            <div class="col-6">
                {%for dog in user.has_dog.all%}
                <img class="shadow p-3 mb-5 bg-transparent rounded-circle" src="{{dog.image.url}}" alt="dog_image">
                <p>Name: {{dog.name}}</p>
                <p>Breed: {{dog.breed}}</p>
                <p>Gender: {{dog.gender}}</p>  
                {%endfor%}
            </div>
            <div class="col-6">
                <h2>Human:</h2>
                <p>Name: {{user.first_name}} {{user.last_name}}</p>
                <p>email: {{user.email}}</p>     
            </div>
        </div>   
                 
    </div>   
</div>
{% endblock content %}
</body>
</html>