
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        
    </div>
    <div class="wrapper container">
        <div class="row mt-5">
            <div class="col-6">
                <h1 class="display-4 lead">Your Profile</h1>
                <img class="shadow p-3 bg-transparent rounded" src="{{dog.image.url}}" alt="dog_image">
                
            </div>
            <div class="col-6">
                <h1 class="display-4 lead">Dog</h1>
                <h1 class="lead display-5 lead font-weight-normal">Name: {{dog.name}}</h1>
                <h2 class="lead font-weight-normal">Breed: {{dog.breed}}</h2>
                <h2 class="lead font-weight-normal">Gender: {{dog.gender}}</h2>  
                <h1 class="display-4 lead">Human</h1>
                <h2 class="lead font-weight-normal">Name: {{user.first_name}} {{user.last_name}}</h2>
                <h2 class="lead font-weight-normal">email: {{user.email}}</h2>     
            </div>
        </div>   
        
    </div>   
</div>
{% endblock content %}
