<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hello {{logged_user.first_name}}! Read about this playdate!</h1>
        </div>
        <div class="wrapper container">
            <h3>{{viewed_playdate.park_name}}</h3>
            <p>Date: {{viewed_playdate.date|date:"SHORT_DATE_FORMAT"}}</p>
            <p>Comments: {{viewed_playdate.comments}}</p>
            <p>Created by: {{dog.name}} ({{dog.breed}}, {{dog.gender}})</p>
            <p>Human Name:  {{viewed_playdate.creator.first_name}} {{viewed_playdate.creator.last_name}}</p>
        </div>
        <div class="wrapper container">
            <h3>Pals who joined this playdate:</h3>
            {% if viewed_playdate.users_who_joined.count == 0 %}
                <p>No one has joined this playdate yet.</p>
            {% endif %}
            {% for user in viewed_playdate.users_who_joined.all %}
                <p>Dog Name: {{user.has_dog.name}}</p>
                <p>Human Name: {{user.first_name}} {{user.last_name}}</p><br>
            {%endfor%}
        </div>
    </div>

{% endblock %}
</body>
</html>