/* *{
    color: rgb(234, 241, 239);
} */

body {
    background-image: url("../images/dogsplaying.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: rgb(234, 241, 239);
}

.container-fluid {
    background-image: url("../images/dogsplaying.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: rgb(234, 241, 239);

}

.container {
    color: rgb(234, 241, 239);
}

td {
    color:rgb(234, 241, 239);
}

tr {
    color:rgb(234, 241, 239);
}

.jumbotron-fluid {
    background: linear-gradient(rgba(97, 95, 95, 0.377), rgba(97, 95, 95, 0.377));
    color: rgb(234, 241, 239);

}

/* .py-3 {
    margin: 0px;
    max-width: 100%;
*/
.gm-style-iw-d {
    color:black
}

#map {
  width: 450px;
  height: 400px;
  background-color: grey;
  color: black;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  color: black;
}

#infowindow-content .title {
  font-weight: bold;
  color: black;
}

#infowindow-content {
  display: none;
  color: black
}

#map #infowindow-content {
  display: inline;
  color: black
}

.pac-card {
  margin: 10px 10px 0 0;
  color: black;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 3px;
  color: black;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
  color: black;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  color: black;
}

#pac-input {
  background-color: #fff;
  color: black;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
  color: black;
}

#title {
  color: black;;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
